<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let user of users | async" size-xl="6" size-lg="6" size-md="4" size-sm="6" size-xs="12">
        <ion-card>
          <ion-card-content>
            <ion-avatar>
              <img [src]="user.picture.medium">
            </ion-avatar>
            <h1>{{ user.name.first }} {{ user.name.last }}</h1>
            <h3> Gender: {{ user.gender }} </h3>
            <h3> Location: {{ user.location.country }}</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat vestibulum eros vitae venenatis. Quisque sed vestibulum sapien. Maecenas varius nisi nec ante varius ullamcorper.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
